---
layout: post
hidden:
  - header
  - navigator
  - related_posts
---

{{ Hello everyone 👋

  This is my personal website. I don't write blogs specifically for someone, but just blog what I have learnt/thought.
  
  Here are something about me 😄:
  
  🧑 As the millennial generation
  🚀 Live China
  🎓 Graduate Student
  🔨💻 Passionate Technician

  
  I am a self-motivated and largely self-taught professional who likes to dig deep into problems and architect elegant solutions.
  
  Love & Share!🥳

  …
  You can find me from:
  
  👨‍💻 GitHub: [jeffreyren1](https://github.com/jeffreyren1)
  📧 Email: [mailtome](mailto:1513699928@qq.com)
  🙋 StackOverflow: [here](https://stackoverflow.com/users/23211904/david-zhang)
}}
